td {
  color: black;
}
th {
  font-weight: 800;
}

.card-mgmt-title {
  letter-spacing: 2px;
  word-spacing: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 35px;
  margin-bottom: 30px;
  border-top: 2px solid lightskyblue;
  border-bottom: 2px solid lightskyblue;
}